openapi: 3.0.3
info:
  title: Dashboard AI Studio API V1
  description: |
    API for session-based dashboard creation and management.

    **Core Workflow:**
    1. User creates dashboard in frontend session
    2. User adds visualizations via NLP (frontend calls /nlp/generate-visualization)
    3. User previews data (frontend calls /queries/execute)
    4. User saves complete dashboard to database (/dashboards/save)
    5. User loads and manages saved dashboards

  version: 2.0.0
  license:
    name: MPL

servers:
  - url: https://api.dashboard-studio.com/v2
    description: Production server

security:
  - BearerAuth: []

tags:
  - name: dashboards
    description: Save and load complete dashboards
  - name: nlp
    description: Natural language processing for visualization generation
  - name: queries
    description: Query execution for data preview
  - name: data-sources
    description: Data source management
  - name: system
    description: System health and configuration

paths:
  # ===================
  # DASHBOARD MANAGEMENT
  # ===================

  /dashboards/save:
    post:
      tags:
        - dashboards
      summary: Save dashboard to database
      description: |
        Save complete dashboard from frontend session to database.
        Creates new dashboard or updates existing one based on presence of ID.
      operationId: saveDashboard
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - dashboard_data
              properties:
                dashboard_data:
                  $ref: '#/components/schemas/DashboardData'
      responses:
        '201':
          description: Dashboard saved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dashboard'
        '400':
          description: Invalid dashboard data
    content:
      application/json:
        schema:
          type: object
          properties:
            error:
              type: string
              example: Invalid dashboard structure
            code:
              type: string
              example: INVALID_DASHBOARD_DATA
            details:
              type: object
              example:
                missing_fields:
                  - name
                invalid_fields:
                  - visualizations

  /dashboards:
    get:
      tags:
        - dashboards
      summary: List saved dashboards
      description: Get user's saved dashboards with filtering and pagination
      operationId: listDashboards
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: search
          in: query
          description: Search by name or description
          schema:
            type: string
        - name: sort
          in: query
          schema:
            type: string
            enum:
              - name
              - created_at
              - updated_at
            default: updated_at
        - name: order
          in: query
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
      responses:
        '200':
          description: Dashboard list retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardList'
        '400':
          description: Invalid query parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Invalid pagination parameters
                  code:
                    type: string
                    example: INVALID_QUERY_PARAMS
                  details:
                    type: object
                    example:
                      invalid_params:
                        - limit must be between 1-100
                        - page must be positive

  /dashboards/{dashboardId}:
    get:
      tags:
        - dashboards
      summary: Load dashboard
      description: Load complete dashboard with all visualizations
      operationId: getDashboard
      parameters:
        - $ref: '#/components/parameters/DashboardId'
      responses:
        '200':
          description: Dashboard loaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dashboard'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags:
        - dashboards
      summary: Delete dashboard
      description: Permanently delete dashboard
      operationId: deleteDashboard
      parameters:
        - $ref: '#/components/parameters/DashboardId'
      responses:
        '204':
          description: Dashboard deleted
        '404':
          $ref: '#/components/responses/NotFound'

  # ===================
  # NLP PROCESSING
  # ===================

  /nlp/generate-visualization:
    post:
      tags:
        - nlp
      summary: Generate visualization from natural language
      description: |
        Convert natural language query into a complete visualization definition.
        Used by frontend to create visualizations in session.
      operationId: generateVisualization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - query
              properties:
                query:
                  type: string
                  description: Natural language description
                  example: Show me sales revenue by region as a bar chart for the last 3 months
      responses:
        '200':
          description: Visualization generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Visualization'
        '400':
          description: Invalid query
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: string
                    enum:
                      - INVALID_QUERY
                      - DATA_SOURCE_ERROR
                      - SQL_GENERATION_FAILED
                  details:
                    type: object
                  suggestions:
                    type: array
                    items:
                      type: string

  /nlp/update-visualization:
    post:
      tags:
        - nlp
      summary: Update visualization with context
      description: Generate updated visualization using current state as context
      operationId: updateVisualization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - new_query
                - current_visualization
              properties:
                new_query:
                  type: string
                  example: Change this to show monthly trends instead
                current_visualization:
                  $ref: '#/components/schemas/Visualization'
      responses:
        '200':
          description: Visualization updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Visualization'
        '400':
          description: Invalid visualization update request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Invalid visualization data provided
                  code:
                    type: string
                    example: INVALID_VISUALIZATION

  # ===================
  # QUERY EXECUTION
  # ===================

  /queries/execute:
    post:
      tags:
        - queries
      summary: Execute query and return data
      description: |
        Execute SQL/NoSQL query against data source and return results.
        Used by frontend for data preview and dashboard rendering.
      operationId: executeQuery
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - query
                - data_source
              properties:
                query:
                  type: object
                  description: Query to execute
                  properties:
                    type:
                      type: string
                      enum:
                        - sql
                        - mongodb
                    statement:
                      type: string
                      example: SELECT region, SUM(revenue) FROM sales WHERE date >= ? GROUP BY region
                    parameters:
                      type: object
                      additionalProperties: true
                      example:
                        date_from: '2025-04-01'
                data_source:
                  type: string
                  example: sales_db
                limit:
                  type: integer
                  description: Maximum number of rows to return
                  default: 1000
                  maximum: 10000
      responses:
        '200':
          description: Query executed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    example:
                      - region: North
                        revenue: 150000
                      - region: South
                        revenue: 120000
                      - region: East
                        revenue: 180000
                      - region: West
                        revenue: 95000
                  execution_time_ms:
                    type: integer
                    example: 245
                  row_count:
                    type: integer
                    example: 4
                  executed_at:
                    type: string
                    format: date-time
        '400':
          description: Query execution failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: string
                    enum:
                      - INVALID_QUERY
                      - DATA_SOURCE_ERROR
                      - TIMEOUT
                      - LIMIT_EXCEEDED
                  details:
                    type: object

  # ===================
  # DATA SOURCES
  # ===================

  /data-sources:
    get:
      tags:
        - data-sources
      summary: List available data sources
      description: Get available data sources for frontend dropdowns and selection
      operationId: listDataSources
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum:
              - all
              - active
              - inactive
            default: active
        - name: type
          in: query
          schema:
            type: string
            enum:
              - sql
              - nosql
      responses:
        '200':
          description: Data sources list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DataSource'

    post:
      tags:
        - data-sources
      summary: Add new data source
      description: Connect new data source to the system
      operationId: addDataSource
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataSourceConfig'
      responses:
        '201':
          description: Data source added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSource'
        '400':
          $ref: '#/components/responses/BadRequest'

  /data-sources/{dataSourceId}:
    get:
      tags:
        - data-sources
      summary: Get data source details
      operationId: getDataSource
      parameters:
        - $ref: '#/components/parameters/DataSourceId'
      responses:
        '200':
          description: Data source details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSource'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags:
        - data-sources
      summary: Remove data source
      operationId: removeDataSource
      parameters:
        - $ref: '#/components/parameters/DataSourceId'
      responses:
        '204':
          description: Data source removed
        '404':
          $ref: '#/components/responses/NotFound'

  /data-sources/{dataSourceId}/schema:
    get:
      tags:
        - data-sources
      summary: Get data source schema
      description: Get schema information (tables, columns) for the data source
      operationId: getDataSourceSchema
      parameters:
        - $ref: '#/components/parameters/DataSourceId'
        - name: refresh
          in: query
          description: Refresh schema cache
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Schema information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataSourceSchema'
        '404':
          $ref: '#/components/responses/NotFound'

  # ===================
  # SYSTEM
  # ===================

  /system/health:
    get:
      tags:
        - system
      summary: System health check
      operationId: getSystemHealth
      responses:
        '200':
          description: System status
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - healthy
                      - degraded
                      - unhealthy
                  services:
                    type: object
                    properties:
                      database:
                        type: string
                        enum:
                          - up
                          - down
                      nlp_service:
                        type: string
                        enum:
                          - up
                          - down
                  version:
                    type: string
                    example: 2.0.0
                  uptime:
                    type: integer
                    example: 86400

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    DashboardId:
      name: dashboardId
      in: path
      schema:
        type: string
        format: uuid
      example: 123e4567-e89b-12d3-a456-426614174000

    DataSourceId:
      name: dataSourceId
      in: path
      schema:
        type: string
      example: sales_db

  schemas:
    Dashboard:
      type: object
      required:
        - id
        - name
        - visualizations
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
        name:
          type: string
          example: Sales Analytics Dashboard
        description:
          type: string
          example: Monthly sales performance analysis
        visualizations:
          type: array
          items:
            $ref: '#/components/schemas/Visualization'
        layout:
          $ref: '#/components/schemas/DashboardLayout'
        created_at:
          type: string
          format: date-time
          example: '2025-07-28T10:00:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2025-07-28T10:30:00Z'

    DashboardData:
      type: object
      required:
        - name
        - visualizations
      properties:
        id:
          type: string
          format: uuid
          description: Optional - if provided, updates existing dashboard
          example: 123e4567-e89b-12d3-a456-426614174000
        name:
          type: string
          maxLength: 100
          example: Sales Analytics Dashboard
        description:
          type: string
          maxLength: 500
          example: Monthly sales performance analysis
        visualizations:
          type: array
          items:
            $ref: '#/components/schemas/Visualization'
        layout:
          $ref: '#/components/schemas/DashboardLayout'

    DashboardSummary:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        visualization_count:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    DashboardList:
      type: object
      properties:
        dashboards:
          type: array
          items:
            $ref: '#/components/schemas/DashboardSummary'
        pagination:
          type: object
          properties:
            page:
              type: integer
            limit:
              type: integer
            total:
              type: integer
            total_pages:
              type: integer

    DashboardLayout:
      type: object
      properties:
        type:
          type: string
          enum:
            - grid
            - vertical
          default: grid
        grid_config:
          type: object
          properties:
            columns:
              type: integer
              default: 3
            gap:
              type: integer
              default: 16
        visualization_positions:
          type: object
          additionalProperties:
            type: object
            properties:
              x:
                type: integer
              'y':
                type: integer
              width:
                type: integer
              height:
                type: integer

    Visualization:
      type: object
      required:
        - id
        - title
        - chart_type
        - data_source
        - query
        - original_query
      properties:
        id:
          type: string
          format: uuid
          example: 456e7890-e89b-12d3-a456-426614174111
        title:
          type: string
          example: Sales Revenue by Region
        description:
          type: string
          example: Quarterly sales breakdown by geographic region
        chart_type:
          type: string
          enum:
            - bar_chart
            - line_chart
            - pie_chart
            - scatter_plot
            - table
            - heatmap
          example: bar_chart
        data_source:
          type: string
          example: sales_db
        query:
          type: object
          description: Generated query definition (no data stored)
          properties:
            type:
              type: string
              enum:
                - sql
                - mongodb
              example: sql
            statement:
              type: string
              example: SELECT region, SUM(revenue) FROM sales WHERE date >= ? GROUP BY region
            parameters:
              type: object
              additionalProperties: true
              example:
                date_from: '2025-04-01'
        original_query:
          type: string
          description: Original natural language query
          example: Show me sales revenue by region for this quarter
        config:
          $ref: '#/components/schemas/VisualizationConfig'
        created_at:
          type: string
          format: date-time
          example: '2025-07-28T10:15:00Z'

    VisualizationConfig:
      type: object
      description: Chart-specific configuration
      properties:
        x_column:
          type: string
          example: region
        y_column:
          type: string
          example: revenue
        show_legend:
          type: boolean
          default: true

    DataSource:
      type: object
      required:
        - id
        - name
        - type
        - status
      properties:
        id:
          type: string
          example: sales_db
        name:
          type: string
          example: Sales Database
        description:
          type: string
          example: Main sales transactions and customer data
        type:
          type: string
          enum:
            - postgresql
            - mysql
            - mongodb
            - sqlite
            - bigquery
          example: postgresql
        status:
          type: string
          enum:
            - active
            - inactive
            - error
          example: active
        schema:
          $ref: '#/components/schemas/DataSourceSchema'
        created_at:
          type: string
          format: date-time

    DataSourceConfig:
      type: object
      required:
        - name
        - type
        - connection
      properties:
        name:
          type: string
          maxLength: 100
        description:
          type: string
          maxLength: 500
        type:
          type: string
          enum:
            - postgresql
            - mysql
            - mongodb
            - sqlite
            - bigquery
        connection:
          type: object
          properties:
            host:
              type: string
            port:
              type: integer
            database:
              type: string
            username:
              type: string
            password:
              type: string
              format: password

    DataSourceSchema:
      type: object
      properties:
        last_updated:
          type: string
          format: date-time
        tables:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                example: sales
              columns:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                      example: customer_id
                    type:
                      type: string
                      example: integer
                    nullable:
                      type: boolean
              row_count:
                type: integer
                example: 50000

    Error:
      type: object
      properties:
        error:
          type: string
          example: Dashboard not found
        code:
          type: string
          example: DASHBOARD_NOT_FOUND
        timestamp:
          type: string
          format: date-time
        details:
          type: object

  responses:
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    BadRequest:
      description: Invalid request data
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
Resources:
  Permission:
    Type: AWS::ACMPCA::Permission
    Properties:
      CertificateAuthorityArn: <String>
      Actions:
        - <String>
      Principal: <String>